<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- 測試 -->
		<!--<add name="MISConnectionString" connectionString="Data Source=192.168.59.55;Initial Catalog=MeetingManagement;User ID=mis;password=5DF75A7A88334154950CBED8BBDA3670!!"/>-->
		<!-- local -->
		<add name="MISConnectionString" connectionString="Data Source=192.168.56.204,1466;Initial Catalog=MeetingManagement;User ID=sa;password=Diy19790209"/>
	</connectionStrings>
</configuration>